@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary-green: #40513b !important;
  --color-secondary-green: #84934a;
  --color-black: #37353e !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono), monospace;
  background-image: url("/circle-scatter-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
